<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
{% block content %}
<br>
<hr>
<p style="display:inline;font-family:georgia;margin-left:-27%;font-size:50px"> youtube recipe </p>
{% if user.is_active %}

<a href="{% url 'recipe:youtube_create' %}">
    <p style="display:inline;font-family:georgia;float:right;margin-right:-20%;font-size:33px;border-width: 2px;">
        write</p>
</a>
{% endif %}
<hr>
<div class="container">
    <div class="row">
        {% for youtube in youtube_list %}
        <a href="{% url 'recipe:youtube_detail' youtube.You_conId %}">

            <div class="col-md-4 py-6">
                <ul class="card" style="width:18em;max-height:300px;min-height:300px">


                    <p>{{ youtube.You_conContent | safe}}</p>
                     <h2>{{ youtube.You_conName }}</h2>

                    <a class="btn btn-sm you_like" name="{{ youtube.You_conId }}" type="button" value="Like">


                        {% if user in youtube.You_conLikesUser.all %}
                        <i class="fas fa-heart" id="you_heart{{ youtube.You_conId }}"></i>
                        {% else %}
                        <i class="far fa-heart" id="you_heart{{ youtube.You_conId }}"></i>
                        {% endif %}
                    </a>
                    <p id="you_count-{{ youtube.You_conId }}" style="font:bold 1em;">
                        좋아요&nbsp;{{ youtube.You_conLikesUser.all.count }}개</p>
                </ul>
            </div>
        </a>
        {% endfor %}
    </div>
</div>