{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}youtube_create.html{% endblock %}
{% block content %}







<br>
<center>
    <p style="font-size:3em;font-family:'georgia';">Y O U T U B E &nbsp; P O S T</p>
    <p style="font-size:1.2em;font-family:'바탕체';color:#848484;">This is a creation or update form for your post.</p>
</center>
<br><br>






<style>
    .hidden{display:none;}


</style>
{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        Wrong! Please correct the error(s) below.
    </div>
    {{ form.errors }}
</div>
{% endif %}
<div class="container">

    <form action="." class="card pt-3" method="post">{% csrf_token %}
        <div class="form-group row">
            {{ form.You_conName| add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.You_conName|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="row">
            {{ form.You_conContent| add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}

            <div class="col-md-8">
                <input class="hidden" id="upload" name="image" onchange="" type="file">
                {{ form.You_conContent|add_class:"form-control" }}
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="form-group row">
            {{ form.You_conTags| add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.You_conTags|add_class:"form-control" }}
            </div>
            <small class="form-text text-muted">{{ form.tags.help_text }}</small>
        </div>


        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input class="btn btn-light" type="submit" value="let's go"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block extra-script %}

<script>


tinymce.init({
	selector: 'textarea',
	height: 320,
	theme: 'modern',
	plugins: [
		'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		'searchreplace wordcount visualblocks visualchars code fullscreen',
		'insertdatetime media nonbreaking save table contextmenu directionality',
		'emoticons template paste textcolor colorpicker textpattern imagetools'
	],
	toolbar1: 'myButton',

	image_advtab: true,
	templates: [
		{ title: 'Test template 1', content: 'Test 1' },
		{ title: 'Test template 2', content: 'Test 2' }
	],
	content_css: [
		'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
		'//www.tinymce.com/css/codepen.min.css'
	],

	setup: function (editor) {
		editor.addButton('myButton', {
			text: '유튜브 업로드',
			icon: false,
			onclick: function (data) {
				window.open('{% url 'recipe:image' %}','_fileupload','width=800, height=600');
			}
		});

		editor.addButton('mySubmit', {
			text: '문서저장하기',
			icon: false,
			onclick: function () {
				if(confirm('저장하시겠습니까?'))
				{
					document.FORM_NAME.submit();
				}
			}
		});
	}

});




</script>
{% endblock %}
