{% extends "base.html" %}
{% load static %}
{% block title %}hotplace_list.html{% endblock %}

{% block extra-style %}

<style>
    .star_back{
        width:100px;
        position:relative;
    }
    .star{
        background-color:gold;
        position:absolute;
        height:18px;
        z-index:100;
    }
    .star_img{
        width:100%;

        position:absolute;
        height:18px;
        z-index:110;
    }
    .card-horizontal{
        display:flex;
        flex: 1 1 auto;
    }
    a{
    color:black;
    }






</style>
{% endblock %}

{% block content %}
<div>
    <hr>
    <div class="container">

        {% include "taggit/taggit_cloud2.html" %}
    </div>
<hr>
    <br><br>

   
<center>
<p style="display:inline;font-family:georgia;font-size:50px">H O T P L A C E</p>
    <br>
    <br>
    </center>
        <div class="text-right" style="float:right; margin-right:200px;margin-bottom:100px;">
        <select id="sort-select" onchange="location = this.value;">
            <option class="sort-modify_dt" value="/hotplace/">최신순</option>
            <option class="sort-rating" value="?sort=rating">별점순</option>
            <option class="sort-read_count" value="?sort=read_count">조회수순</option>
        </select>
        {% if user.is_active %}
        <a class="btn btn-light btn-sm tag_margin my-5" href="{% url 'hotplace:add' %}" style="color:black;">
            <i class="fas fa-pencil-alt" style="color:black;"></i>&nbsp;w r i t e
        </a>
        {% endif %}
    </div>
    <br><br>


    <div class="container" >

        <div class="row" >
            {% for hotplace in hotplaces %}
            <div class="col-lg-6  col-md-6 col-sm-12 my-3">
                <div class="card" >
                    <div class="card-horizontal">

                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="card-link stretched-link" href="{% url 'hotplace:detail' hotplace.id %}">
                                    <p style="font-family:'바탕체';font-weight:bold;">{{hotplace.title}}</p></a>
                            </h4>
                            <div style="height:15px;">
                                <div class="star_back">
                                    <div class="star" style="width:calc(20% * {{hotplace.rating}})"></div>
                                    <img alt="{{hotplace.rating}}" class="star_img"
                                         src="{% static 'images/stars.png' %}"
                                         title="{{hotplace.rating}}">
                                </div>
                                <br>
                            </div>
                            <div>
                                <b>TAGS</b><i class="fas fa-tag"></i>
                                {% load taggit_templatetags2_tags %}
                                {% get_tags_for_object hotplace as "tags" %}
                                {% for tag in tags %}
                                <a href="{%url 'hotplace:tagged_object_list' tag.name%}" style="font-family:'바탕체';">{{tag.name}}</a>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="img-square-wrapper">
                            {% for file in hotplace.files.all|slice:":1" %}
                            <a href="{% url 'hotplace:detail' hotplace.id %}" class="card-link stretched-link">
                                <img id="image" src="{% url 'hotplace:download' file.id %}" style="height:300px; width:400px;">
                            </a>
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}

{% block extra-script %}
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
    };
    // 정렬방식 셀렉트 박스 유지
    $(document).ready(function(){
    var sort = getUrlParameter('sort');
    if(sort == 'rating'){
        $('.sort-rating').prop('selected', 'selected')
    }else if(sort == 'read_count'){
        $('.sort-read_count').prop('selected', 'selected')
    }else{
        $('.sort-modify_dt').prop('selected', 'selected')
    }
    })
    
    

</script>
{% endblock %}
