{% extends "base.html" %}
{% load static %}
{% block title %}hotplace_list.html{% endblock %}

{% block extra-style %}

<style>
    .star_back{
        width:100px;
        position:relative;
    }
    .star{
        background-color:gold;
        position:absolute;
        height:18px;
        z-index:100;
    }
    .star_img{
        width:100%;

        position:absolute;
        height:18px;
        z-index:110;
    }
    .card-horizontal{
        display:flex;
        flex: 1 1 auto;
    }
    a{
    color:black;
    }






</style>
{% endblock %}

{% block content %}
<div>
    <div class="container">
        {% include "taggit/taggit_cloud2.html" %}
    </div>


    {% if user.is_active %}
    <div class="text-right mr-3" style="float:right;">
        <a class="btn btn-light btn-sm tag_margin my-5" href="{% url 'hotplace:add' %}">
            <i class="fas fa-pencil-alt"></i>글쓰기
        </a>
    </div>
    {% endif %}
    <div class="container">

        <div class="row">
            {% for hotplace in hotplaces %}
            <div class="col-lg-6  col-md-6 col-sm-12 my-3">
                <div class="card">
                    <div class="card-horizontal">

                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="card-link stretched-link" href="{% url 'hotplace:detail' hotplace.id %}">{{hotplace.title}}</a>
                            </h4>
                            <div style="height:15px;">
                                <div class="star_back">
                                    <div class="star" style="width:calc(20% * {{hotplace.rating}})"></div>
                                    <img alt="{{hotplace.rating}}" class="star_img"
                                         src="{% static 'images/stars.png' %}"
                                         title="{{hotplace.rating}}">
                                </div>
                            </div>
                            <div>
                                <b>TAGS</b><i class="fas fa-tag"></i>
                                {% load taggit_templatetags2_tags %}
                                {% get_tags_for_object hotplace as "tags" %}
                                {% for tag in tags %}
                                <a href="{%url 'hotplace:tagged_object_list' tag.name%}">{{tag.name}}</a>
                                {% endfor %}

                            </div>
                            <div>
                                <p>조회수 : {{ hotplace.read_count}}</p>

                            </div>
                        </div>
                        <div class="img-square-wrapper">
                            {% for file in hotplace.files.all|slice:":1" %}
                            <a href="{% url 'hotplace:detail' hotplace.id %}" class="card-link stretched-link">
                                <img id="image" src="{% url 'hotplace:download' file.id %}" style="height:100%; width:100%;">
                            </a>
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}
