{% extends "base.html" %}
{% block title %}signup_done.html{% endblock %}
{% block content %}

<div class="container">


            <br><br><br>
    <center>
<p style="display:inline;font-family:georgia;font-size:50px">R E G I S T R A T I O N &nbsp; C O M P L E T E D &nbsp; S U C C E S S F U L L Y</p>
    <p style="font-size:1.2em;font-family:'바탕체';color:#848484;">Thank you for registering.</p>
        <p class=""><a href="{% url 'login' %}" style="font-size:1.2em;font-family:'바탕체';color:black;">Log in</a></p>

</center>
    <br><br>



</div>
{% endblock %}