<style>
			#nav {
		margin: 2.5em 0 0 0;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				display: inline-block;
				margin: 0 0.35em 0 0.35em;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav > ul > li > a {
					border-radius: 5px;
					color: #5d5d5d;
					text-decoration: none;
					padding: 0.6em 1.2em 0.6em 1.2em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					outline: 0;
				}

				#nav > ul > li:hover > a, #nav > ul > li.active > a {
					background: #f3f3f3;
				}

				#nav > ul > li.current > a {
					background: #d52349;
					color: #fff !important;
					font-weight: 700;
				}
		</style>

<div id="page-wrapper" align="center">
						<nav id="nav">
							<ul>
								<li><a href="{% url 'user:userprofile' userid %}" >Profile</a></li>
								<li><a href="{% url 'user:userrecipe' userid %}">Recipe Posts</a></li>
								<li><a href="{% url 'user:useryoutube' userid %}">Youtube Posts</a></li>
								<li><a href="{% url 'user:userhotplace' userid %}">Hotplace Posts</a></li>
							</ul>
						</nav>
		</div>
<hr>