{% extends 'base.html' %}

{% block title %}hotplace_best.html{% endblock %}


{% block extra-style %}

<style>
    .star_back{
        width:100px;
        position:relative;
    }
    .star{
        background-color:gold;
        position:absolute;
        height:18px;
        z-index:100;
    }
    .star_img{
        width:100%;

        position:absolute;
        height:18px;
        z-index:110;
    }
    .card-horizontal{
        display:flex;
        flex: 1 1 auto;
    }
    a{
    color:black;
    }






</style>
{% endblock %}

{% block content %}

<div>
    {% include "hotplace_printlist.html" %}
</div>

{% endblock %}

{% block extra-script %} {% endblock %}

