{% extends "base.html" %}
{% block content %}
{% block extra-style %}
<style>
    .star_back{
        width:100px;
        position:relative;
    }
    .star{
        background-color:gold;
        position:absolute;
        height:18px;
        z-index:100;
    }
    .star_img{
        width:100%;

        position:absolute;
        height:18px;
        z-index:110;
    }
    .card-horizontal{
        display:flex;
        flex: 1 1 auto;
    }
    a{
    color:black;
    }





</style>
{% endblock %}
{% load static %}

{% include 'nav.html' %}
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

{% load static %}
<div class="container">

        <div class="row" >
            {% for hotplace in user_posts_hot %}
            <div class="col-lg-6  col-md-6 col-sm-12 my-3">
                <div class="card" >
                    <div class="card-horizontal">

                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="card-link stretched-link" href="{% url 'hotplace:detail' hotplace.id %}">
                                    <p style="font-family:'바탕체';font-weight:bold;font-size:1.2em;">{{hotplace.title}}</p></a>
                            </h4>
                            <div style="height:15px;">
                                <div class="star_back">
                                    <div class="star" style="width:calc(20% * {{hotplace.rating}})"></div>
                                    <img alt="{{hotplace.rating}}" class="star_img"
                                         src="{% static 'images/stars.png' %}"
                                         title="{{hotplace.rating}}">
                                </div>
                                <br>
                            </div>
                            <br>
                            <div>
                                <b>TAGS</b><i class="fas fa-tag"></i>
                                {% load taggit_templatetags2_tags %}
                                {% get_tags_for_object hotplace as "tags" %}
                                {% for tag in tags %}
                                <a href="{%url 'hotplace:tagged_object_list' tag.name%}" style="font-family:'바탕체';">{{tag.name}}</a>
                                {% endfor %}

                            </div>
                            <p> <a href="{% url 'hotplace:delete' hotplace.id %}">
                                <button class="btn btn-dark" type="button"><i class="fas fa-trash"></i>Delete</button></a>
                            <a href="{% url 'hotplace:update' hotplace.id %}">
                                <button class="btn btn-light" type="button"><i class="far fa-edit"></i>Update</button></a></p>
              
                        </div>
                        <div class="img-square-wrapper">
                            {% for file in hotplace.files.all|slice:":1" %}
                            <a href="{% url 'hotplace:detail' hotplace.id %}" class="card-link stretched-link">
                                <img id="image" src="{% url 'hotplace:download' file.id %}" style="height:250px; width:350px;">
                            </a>
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>


</div>

{% endblock %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
