

<style type="text/css">

    .tag-1{font-size:12px; }
    .tag-2{font-size:12px; }
    .tag-3{font-size:12px; }
    .tag-4{font-size:12px; }
    .tag-5{font-size:12px; }
    .tag-6{font-size:12px; }

    .tag_outline{
        height:38px;
        width:100%;
        overflow:hidden;

    }

    .tag_cloud{
        width:90%;
        float:left;
    }
    .btn-moreInfo{

        white-space:nowrap;
        float:right;
    }
    .btn-moreInfo:hover .btn-closeInfo:hover{
        cursor:pointer;
    }

    .btn-closeInfo{

      white-space:nowrap;
      float:right;


    }
    .tag_margin{
        margin-top:5px;
        margin-bottom:5px;
        border-color:RGB(209, 209, 209);
        color:RGB(174, 174, 174);



    }





</style>

<br>
<div class="tag_outline">
    <div class="tag_cloud">
        {%load taggit_templatetags2_tags %}
        {% get_tagcloud as tags %}

        {% for tag in tags %}
        {% if tag.num_times != 0%}
        <span class="tag-{{tag.weight|floatformat:0}}">
                <span class="btn btn-light btn-sm tag_margin">
                    <a href="{% url 'hotplace:tagged_object_list' tag.name %}">
                        {{tag.name}}
                    </a>

                </span>


        </span>
        {% endif %}
        {% endfor %}
    </div>
    <span class="btn-moreInfo">더보기</span>

</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('.btn-moreInfo').click(function(){
            if($('.btn-moreInfo').hasClass('btn-moreInfo')){
                $('.btn-moreInfo').addClass('btn-closeInfo').removeClass('btn-moreInfo');
                $(this).text("접기");
                $('.tag_outline').css('height','100%');

            }else if($('.btn-closeInfo').hasClass('btn-closeInfo')){
                $('.btn-closeInfo').addClass('btn-moreInfo').removeClass('btn-closeInfo');
                $(this).text('더보기');
                $('.tag_outline').css('height','38');
            }
        });
    });
</script>



